@model IPagedList<PhotoListViewModel>

@{
    ViewBag.Title = "Photos";
}
<h2>@ViewBag.head</h2>
@ViewBag.message
@Html.ActionLink("All Pictures", "Index", "Photo")
@Html.ActionLink("Played Pictures", "PlayedPictures", "Photo")

@ViewBag.message

@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Photo</legend>

        <input type="file" name="file" value="" />
        <input type="submit" value="Upload" />
    </fieldset>
}

@Html.Partial("_Photos", Model)
